<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.peasant_info.mapper.AgrPeasantMapper">
    
    <resultMap type="AgrPeasant" id="AgrPeasantResult">
        <result property="id"    column="id"    />
        <result property="peaId"    column="pea_id"    />
        <result property="peaName"    column="pea_name"    />
        <result property="peaCard"    column="pea_card"    />
        <result property="peaVillage"    column="pea_village"    />
        <result property="peaYear"    column="pea_year"    />
    </resultMap>

    <sql id="selectAgrPeasantVo">
        select id, pea_id, pea_name, pea_card, pea_village, pea_year from agr_peasant
    </sql>

    <select id="selectAgrPeasantList" parameterType="AgrPeasant" resultMap="AgrPeasantResult">
        <include refid="selectAgrPeasantVo"/>
        <where>  
            <if test="peaId != null "> and pea_id = #{peaId}</if>
            <if test="peaName != null  and peaName != ''"> and pea_name like concat('%', #{peaName}, '%')</if>
            <if test="peaCard != null  and peaCard != ''"> and pea_card = #{peaCard}</if>
            <if test="peaVillage != null  and peaVillage != ''"> and pea_village = #{peaVillage}</if>
            <if test="peaYear != null  and peaYear != ''"> and pea_year = #{peaYear}</if>
        </where>
    </select>
    
    <select id="selectAgrPeasantById" parameterType="Long" resultMap="AgrPeasantResult">
        <include refid="selectAgrPeasantVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertAgrPeasant" parameterType="AgrPeasant" useGeneratedKeys="true" keyProperty="id">
        insert into agr_peasant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="peaId != null">pea_id,</if>
            <if test="peaName != null">pea_name,</if>
            <if test="peaCard != null">pea_card,</if>
            <if test="peaVillage != null">pea_village,</if>
            <if test="peaYear != null">pea_year,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="peaId != null">#{peaId},</if>
            <if test="peaName != null">#{peaName},</if>
            <if test="peaCard != null">#{peaCard},</if>
            <if test="peaVillage != null">#{peaVillage},</if>
            <if test="peaYear != null">#{peaYear},</if>
         </trim>
    </insert>

    <update id="updateAgrPeasant" parameterType="AgrPeasant">
        update agr_peasant
        <trim prefix="SET" suffixOverrides=",">
            <if test="peaId != null">pea_id = #{peaId},</if>
            <if test="peaName != null">pea_name = #{peaName},</if>
            <if test="peaCard != null">pea_card = #{peaCard},</if>
            <if test="peaVillage != null">pea_village = #{peaVillage},</if>
            <if test="peaYear != null">pea_year = #{peaYear},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAgrPeasantById" parameterType="Long">
        delete from agr_peasant where id = #{id}
    </delete>

    <delete id="deleteAgrPeasantByIds" parameterType="String">
        delete from agr_peasant where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>